<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/controllers/home.js"></script>
    <script type="text/javascript">


    </script>

</head>
<body ng-controller="AppCtrl">
<div class="container">
    <h1>Home</h1>
</div>

   <div id="chart_div">
   </div>



</body>
</html>